@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #F4EFE6;
    background-color: #f8f9fa; /* Bootstrap light background */
}
  
.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

/* .title {
    font-family: "Adam", sans-serif;
    font-size: 1.6rem;
    margin: 1px;
    margin-left: 250px;
    font-weight: 750;
} */

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-link {
    font-family: "Adam", sans-serif;
    color: #1C160C;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 550;
}

.search-settings-container {
    display:inline-flex;
    align-items: center;
    gap: 60px;
    justify-content: flex-end;
}

.input-group {
    margin-top: 10px;
    display: flex;
    align-items: center; /* Alinea el icono y el campo de búsqueda horizontalmente */
    justify-content: flex-end; /* Mantiene el contenido hacia la derecha */
    width: 100%; /* Ocupa el 100% del contenedor padre */
}

.input-group-text {
    background-color: #B8D9F7;
    border: none;
    display: flex;
    align-items: center; /* Asegura que el icono se centre verticalmente */
}

.form-control {
    background-color: #B8D9F7;
    border: none;
    max-width: 200px; /* Limita el tamaño de la barra de búsqueda */
}

.btn-settings {
    margin-top: 5px;
    background-color: #F4EFE6;
    border: none;
    margin-right: 50px;
    padding: 0.5rem;
    border-radius: 50%;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .logo {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-links {
        gap: 20px;
    }

    .search-settings-container {
        max-width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        gap: 8px; /* Menor espacio en pantallas pequeñas */
    }

    .form-control {
        max-width: 100%; /* Ocupa el 100% del espacio disponible en pantallas pequeñas */
    }

    .btn-settings {
        margin-right: 10px; /* Menor margen en pantallas pequeñas */
    }
}