<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img src="https://acn.com.co/images/Aplicativos%20de%20Logo%20ACN-02a.png" class="logo" alt="Logo Agencia Comunitaria de Noticias">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{menu_icon}}" aria-label="Botón de menú"></i> <!-- Icono con etiqueta aria -->
                </div>
                <div class="desktop_menu" [class.mobile_menu]="menuValue">
                    <ul>
                        <li (click)="closeMenu()">Inicio</li>
                        <li (click)="closeMenu()">Nosotros</li>
                        <li (click)="closeMenu()">Programas</li>
                        <li (click)="closeMenu()">Contáctanos</li>
                    </ul>
                </div>
                <div class="social-media">
                  <a href="#" class="bi bi-whatsapp" aria-label="WhatsApp" alt="Enlace a WhatsApp"></a>
                  <a href="#" class="bi bi-facebook" aria-label="Facebook" alt="Enlace a Facebook"></a>
                  <a href="#" class="bi bi-instagram" aria-label="Instagram" alt="Enlace a Instagram"></a>
                </div>
            </div>
        </div>
    </div>
  </header>
  