
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #F4EFE6;
    background-color: #f8f9fa; /* Bootstrap light background */
}
  
.logo-nav-container {
display: flex;
align-items: center;
gap: 24px;
}

.logo {
display: flex;
align-items: center;
gap: 8px;
margin-left: 100px;
}

.title {
    font-family: "Adam", sans-serif;
    font-size: 1.6rem;
    margin: 1px;
    margin-left: 250px;
    font-weight: 750;
}

.nav-links {
display: flex;
gap: 50px;

}

.nav-link {
    font-family: "Adam", sans-serif;
    color: #1C160C;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 650;
}

.search-settings-container {
display: flex;
align-items: center;
gap: 16px;
}

/* .input-group {
    background-color: #B8D9F7;
} */

.input-group-text {
background-color: #B8D9F7;
border: none;
}

.form-control {
background-color: #B8D9F7;
border: none;
}

.btn-settings,
.btn-bell {
background-color: #F4EFE6;
border: none;
padding: 0.5rem;
border-radius: 50%;
}

.profile-picture {
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
}

.profile-picture img {
width: 100%;
height: 100%;
object-fit: cover;
}