header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f8f9fa; /* Color de fondo claro */
  border-bottom: 1px solid #ddd; /* Línea inferior */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas en pantallas pequeñas */
}

.logo {
  height: 50px;
}
.logo:hover {
  cursor: pointer;
}
.desktop_menu {
  margin-top: 10px;
  display: flex;
  gap: 24px;
}
.desktop_menu ul {
  padding: 0;
  margin: 0;
  
}
.desktop_menu ul li {
  font-family: 'Noto Sans', sans-serif;
  list-style-type: none;
  color: #1C160C;
  display: inline-block;
  font-size: 18px;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 19px;
  font-weight: 550;
}

.menu-icon {
  display: none;
}

.social-media {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 700;
  margin-top: -25px;
  margin-left: 70%;
}

.social-media a {  
  text-decoration: none;
  font-size: 22px;
  width: 20%;
  height: 20%;
  line-height: 20%;
  text-align: right;
}

@media screen and (min-width: 128px) and (max-width: 900px) {

  .desktop_menu {
    position: fixed !important;
    right: -280px;
    transition: 0.4s ease-in-out;
    top: 57px;
    background: #f8f9fa;
    width: 280px;
    height: 100%;
  }

  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid grey;
  }

  .menu-icon {
    display: block;
    color: #1C160C;
    font-size: 40px;
    padding: 0px 0 10px 26px;
    margin-top: 0%;
  }
  
  .mobile_menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }

  .social-media {  
    right: -280px; 
    align-content:center;
    display: inline-flexbox;
    align-items: center;
    margin: -50px 0px 0px 25px;
  }
  
  /* .social-media a {  
    text-decoration: none;
    font-size: 18px;
    width: 20%;
    height: 20%;
    line-height: 20%;
    text-align: right;
  } */

  .logo {
    height: 28px;
    width: 100px;
    margin-top: 10%;
    margin-left: 10px;
  }
}
