<div class="container mt-5">
    <h2>Programas</h2>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let program of programs">
        <div class="card">
          <img class="card-img-top" src="path/to/program-image.jpg" alt="Program Image">
          <div class="card-body">
            <h5 class="card-title">{{ program.title }}</h5>
            <p class="card-text">{{ program.description }}</p>
            <a href="#" class="btn btn-primary">Escuchar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  